.App {
  text-align: center;
}



.Selected {
  background-color: rgb(133, 176, 222);
  height: auto;
  width: 15%;
  margin: 1%;
}

.unselected {
  background-color: rgb(88, 137, 183);
  height: auto;
  width: 15%;
  margin: 1%;
}

.score {

  font-weight: 500;
  margin-left: 6%;
}

.clear {
  background-color: rgb(134, 198, 244);
  margin: 1%;
}

.submit {
  background-color: rgb(87, 116, 177);
}